<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}ЕАЦ{% endblock %}</title>
        
        <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <script src="/static/bootstrap/js/jquery.js"></script> 
        <script src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
        
    <body>
        
        <div class="container">
            <div class="row">
                <div class="span6">
                    <br />
                    <a href='/'><img src='/static/images/logo.png' /></a>
                </div>
                <div class="span6">
                    <br />
                    <p  style='text-align: right'>125212, г.Москва, Головинское шоссе д.8., корпус 2а<br />
Тел.    +7 495 452 58 48; +7 495 452 58 85<br />
Факс   +7 495 452 02 64</p>
                </div>
            </div>
            
             <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li class='active'><a href="#">Главная</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                        О нас
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">История</a></li>
                        <li><a href="#">Руководство</a></li>
                        <li><a href="#">Эксперты</a></li>
                        <li><a href="#">Партнеры</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                        Услуги
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Правовое сотрудничество</a></li>
                        <li><a href="#">Экономическое сотрудничество</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                        Проекты
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Правовое сотрудничество</a></li>
                        <li><a href="#">Экономическое сотрудничество</a></li>
                    </ul>
                </li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}
    

            <hr />
            <footer>
                <p>&copy; Евро - Азиатский центр, 2013</p>
            </footer>
        </div>
                    
    </body>
</html>  
