<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru-ru" lang="ru-ru">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>{% block title %}ЕАЦ{% endblock %}</title>
        <meta name='yandex-verification' content='6bcbe54f264f1c8d' />
        <link href="/static/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet">
        <link href="/static/style.css" type="text/css" rel="stylesheet">
        <script src="/static/bootstrap/js/jquery.js"></script> 
        <script src="/static/bootstrap/js/bootstrap.js"></script>
    </head>
        
    <body>
        
        <div class="container">
            <div class="row">
                <div class="span7">
                    <br />
                    
                    <div class='header' style='padding-top: 10px'>
                        <a href='/'><img src='/static/images/logo.png' style='height: 80px; padding-right: 10px; float: left' /></a>
                        <div style='height: 5px'></div>
                        <h2><i>Евро - Азиатский Центр</i></h2>
                        <h5><i>экономического и правового сотрудничества</i></h5>
                    </div>
                </div>
                <div class="span5">
                    <br />
                    <div class='well' style='background-color: white; height: 55px'>
                    <p  style='text-align: right;'>125212, г.Москва, Головинское шоссе д.8., к 2а<br />
Тел.    +7 495 452 58 48; +7 495 452 58 85<br />
Факс   +7 495 452 02 64</p></div>
                </div>
            </div>
            
             <div class="navbar">
        <div class="navbar-inner">
            <ul class="nav">
                <li {% if request_url == 'home' %} class='active' {% endif %}><a href="/">Главная</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                        О нас
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/page/history">История</a></li>
                        <li><a href="/leaders">Руководство</a></li>
                        <li><a href="/experts">Эксперты</a></li>
                        <li><a href="/partners">Партнеры</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle"
                    data-toggle="dropdown"
                    href="#">
                        Услуги
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/page/services_law">Правовое сотрудничество</a></li>
                        <li><a href="/page/services_economics">Экономическое сотрудничество</a></li>
                    </ul>
                </li>
                <li {% if 'projects' in request_url %} class='active' {% endif %}><a href="/projects">Проекты</a></li>
                <li {% if 'news' in request_url %} class='active' {% endif %}><a href="/news">Новости</a></li>
                <li {% if 'contacts' in request_url  %} class='active' {% endif %}><a href="/page/contacts">Контакты</a></li>
            </ul>
        </div>
    </div>
    
    {% block content %}
    {% endblock %}

            <hr />
            <footer>
                <p>&copy; Евро - Азиатский центр, 2013</p>
            </footer>
        </div>
                    
    </body>
</html>  
