{% extends 'base.html' %}

{% block content %}
    
    <!-- Carousel -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        {% for s in slideshow %}
            <div class="item {% if forloop.first %} active {% endif %}">
                <img src="/media/{{ s.image }}" style='width: 940px; height: 350px' alt="">
                <div class="container">
                    <div class="carousel-caption">
                        <h4>{{ s.text }}</h4>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
    
   

      <div class="row">
        <div class="span4">
            <div class="input-append">
                <form action='/news' method='post'>
                    {% csrf_token %}
                    <input style='width: 240px' id="appendedInputButton" type="text" name='search_value' />
                    <button class="btn" type="submit">&nbsp;<i class="icon-search"></i>&nbsp;</button>
                </form>
            </div>  
                        
            <div class="well">
                    <div class='news-item'>
                        <a href='/news/{{ n.slug }}'>{{ n.date }}</a>
                        <a href='/news/{{ n.slug }}'><img src='/media/{{ n.image }}' /></a>
                        <p>{{ n.name }}</p>
                    </div>
            </div><!--/.well -->
            
        </div><!--/span-->
        
        
        <div class="span8">
            <div class='well' style='background-color: white'>
            {{ content|safe }}
            <a href='#' class='btn btn-primary' style=''>Презентация о компании</a>
            </div>
        </div><!--/span-->
    </div><!--/row-->

    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel();
        })
      }(window.jQuery)
    </script>
{% endblock %}