{% extends 'base.html' %}

{% block content %}

      <div class="row">
            <div class="span12"><h2>Руководство</h2> </div>
                <div class="span6">
                    <div class='well' style='background-color: white'>
                        <h4><i>{{ f.title }}</i></h4>
                        {{ f.content|safe }}
                    </div>
                </div>
                <div class="span6">
                    <div class='well' style='background-color: white'>
                        <h4><i>{{ s.title }}</i></h4>
                        {{ s.content|safe }}
                    </div>
                </div>
    </div><!--/row-->

{% endblock %}