{% extends 'base.html' %}

{% block content %}

      <div class="row">
        <div class="span4">
            <div class="input-append">
                <form action='/news' method='post'>
                    {% csrf_token %}
                    <input style='width: 240px' id="appendedInputButton" type="text" {% if search_value %} value='{{ search_value }}' {% endif %} name='search_value' />
                    <button class="btn" type="submit">&nbsp;<i class="icon-search"></i>&nbsp;</button>
                </form>
            </div>  
                        
            <div class="well">
                {% if not_found %}
                    <p>Вы искали: <b>{{ search_value }}</b></p>
                {% else %}
                    {% if search_value %} 
                        <p>Вы искали: <b>{{ search_value }}</b></p>
                    {% else %}
                        <h4><i>Новости</i></h4> 
                    {% endif %}
                    {% for n in news %}
                        <hr />
                        <div class='news-item'>
                            <a href='/news/{{ n.slug }}'>{{ n.date }}</a>
                            <a href='/news/{{ n.slug }}'><img src='/media/{{ n.image }}' /></a>
                            <p>{{ n.name }}</p>
                        </div>
                    {% endfor %}
                    <a href='#' class='btn btn-small btn-primary' style=''>Архив новостей</a>
                {% endif %}
                
            </div><!--/.well -->
            
        </div><!--/span-->
        
        
        <div class="span8">
        <div class='well' style='background-color: white'>
            {% if not_found %}
                <h4>По вашему запросу ничего не найдено.</h4>
                <a href='/news' class='btn btn-small btn-primary'>Очистить фильтр</a>
            {% else %}
                <h2>{{ recent.name }}</h2><span>{{ recent.date }}</span><br />
                <img src='/media/{{ recent.image }}' /><br />
                {{ recent.text|safe }}
            {% endif %}
        </div>
        </div><!--/span-->
    </div><!--/row-->

{% endblock %}