{% extends 'base.html' %}

{% block content %}

      <div class="row">
      <div class="span12">
      <h2>Партнеры</h2> </div>
        <div class="span12">
        <div class='well' style='background-color: white'>
            
            {% for p in partners %}
                {% if p.image %}
                <div class='span5' style='padding-bottom: 40px'>
                    <img src='/media/{{ p.image }}' style='height: 70px' /><br />
                    <i>{{ p.name }}</i>
                </div>
                {% endif %}
            {% endfor %}
            
            {% for p in partners %}
                {% if not p.image %}
                <div class='span7'>
                    <i>{{ p.name }}</i>
                </div>
                {% endif %}
            {% endfor %}
            <div class='clear'></div>
        </div>
        </div>
    </div><!--/row-->

{% endblock %}