{% extends 'base.html' %}

{% block content %}

      <div class="row">
        <div class="span12">
            <h2>Проекты</h2> 
            {% for p in projects %}
                <hr />
                <div>
                    <a href='/projects/{{ p.slug }}'><h5>{{ p.name }}</h5></a><span><b>{{ p.date.year }}</b> г.</span><br />
                    <a href='/projects/{{ p.slug }}'><img src='/media/{{ p.image }}' style='max-height: 300px; float: left; padding-right: 10px' /></a>
                    {{ p.desc }}<br />
                    <a href='/projects/{{ p.slug }}' class='btn btn-small btn-info'>Подробнее ...</a>
                </div>
                <div class='clear'></div>
            {% endfor %}
        </div>
    </div><!--/row-->

{% endblock %}