{% extends 'base.html' %}

{% block content %}

      <div class="row">
        <div class="span12">
            
            <img src='/media/{{ project.image }}' style='max-height: 300px; float: left; padding-right: 10px' />
            <h4>{{ project.name }}</h4> 
            <span><b>{{ project.date.year }}</b> г.</span><br />
            {{ project.text|safe }}<br />
            <a href='/projects' class='btn btn-small btn-info'>Назад</a>
        </div>
    </div><!--/row-->

{% endblock %}